<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "helloWorld" class = "com.commons.msg.HelloWorld">
      <property name = "message" value = "Hello World!"/>
   </bean>

   <bean id = "cRefreshedEventHandler" class = "com.commons.event.CRefreshedEventHandler"/>
   <bean id = "cStartEventHandler" class = "com.commons.event.CStartEventHandler"/>
   <bean id = "cStopEventHandler" class = "com.commons.event.CStopEventHandler"/>
   <bean id = "cClosedEvent" class = "com.commons.event.CClosedEvent"/>

</beans>